<!-- Container -->
<div class="container">
  <div class="row">
    <h3 *ngIf="!editMode">Add room</h3>
    <h3 *ngIf="editMode">Edit room {{room?.name}}</h3>
  </div>
  <div class="row">
    <!-- Card -->
    <mz-card>
      <mz-card-content>
        <!-- Form -->
        <form [formGroup]="editForm" (ngSubmit)="submitForm()">
          <div class="row">
            <mz-input-container class="color-container col s6">
              <input mz-input [label]="'Name'" type="text" formControlName="name" id="name" mz-validation required [errorMessageResource]="{required: 'Field is required!'}">
            </mz-input-container>
            <mz-select-container class="color-container col s6">
              <select mz-select [label]="'Type'" [placeholder]="'None'" formControlName="type" id="type" mz-validation required [errorMessageResource]="{required: 'Field is required!'}">
                <option class="deep-orange" [value]="'SINGLE'">Single</option>
                <option class="deep-orange" [value]="'DOUBLE'">Double</option>
                <option class="deep-orange" [value]="'APARTMENT'">Apartment</option>
              </select>
            </mz-select-container>
          </div>
          <div class="row">
            <mz-input-container class="color-container col s4">
              <input mz-input [label]="'Price'" type="number" formControlName="price">
            </mz-input-container>
            <mz-input-container class="color-container col s4">
              <input mz-input [label]="'Capacity'" type="number" formControlName="capacity">
            </mz-input-container>
            <mz-input-container class="color-container col s4">
              <input mz-input [label]="'Size'" type="number" formControlName="size">
            </mz-input-container>
          </div>
          <div class="row">
            <mz-textarea-container class="color-container col s12">
              <textarea mz-textarea [label]="'Description'" placeholder="Enter your description here"></textarea>
            </mz-textarea-container>
          </div>
          <div class="right-align">
            <button *ngIf="!editMode" [disabled]="editForm.invalid" mz-button class="deep-orange">Create</button>
            <button *ngIf="editMode" [disabled]="editForm.invalid" mz-button class="deep-orange">Edit</button>
          </div>
        </form>
      </mz-card-content>
    </mz-card>
  </div>
</div>
