<table class="highlight">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Room</th>
    <th>From</th>
    <th>To</th>
    <th>Paid</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reservation of reservationList">
    <td>{{reservation.customer.forename}} {{reservation.customer.surname}}</td>
    <td>{{reservation.reservedRoom.name}}</td>
    <td>{{reservation.dateFrom | date:'M/d/yyyy'}}</td>
    <td>{{reservation.dateTo | date:'M/d/yyyy'}}</td>
    <td>
      <i *ngIf="reservation.paid" mz-icon [icon]="'done'" class="green-text"></i>
      <i *ngIf="!reservation.paid" mz-icon [icon]="'clear'" class="red-text"></i>
    </td>
    <td>
      <mz-dropdown [id]="'dropdown-demo'" [dropdownButtonId]="'btn-dropdown-demo'">
        <mz-dropdown-item><a class="deep-orange-text" routerLink="/private/reservation/detail">Detail</a></mz-dropdown-item>
        <mz-dropdown-divider></mz-dropdown-divider>
        <mz-dropdown-item><a class="deep-orange-text" (click)="deleteReservation(reservation.id)" >Delete</a></mz-dropdown-item>
      </mz-dropdown>
      <a class="deep-orange" mz-button id="btn-dropdown-demo" href="#">
        <i mz-icon [align]="'left'" [icon]="'menu'" [size]="'medium'"></i>
        Action
      </a>
    </td>
  </tr>
  </tbody>
</table>
