<table class="highlight responsive-table">
  <thead>
  <tr>
    <th>
      <div class="sort-head">
        Created
        <i class="sort inactive-sort" *ngIf="sort.by !== 'dateCreated'"mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('dateCreated', 'asc')"></i>
        <i class="sort active-sort" *ngIf="sort.by === 'dateCreated' && sort.direction === 'asc'" mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('dateCreated', 'desc')"></i>
        <i class="sort active-sort" *ngIf="sort.by === 'dateCreated' && sort.direction === 'desc'" mz-icon [icon]="'keyboard_arrow_up'" [size]="'small'" (click)="setSort('dateCreated', 'asc')"></i>
      </div>
    </th>
    <th>Customer</th>
    <th>Room</th>
    <th>
      <div class="sort-head">
        From
        <i class="sort inactive-sort" *ngIf="sort.by !== 'dateFrom'"mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('dateFrom', 'asc')"></i>
        <i class="sort active-sort" *ngIf="sort.by === 'dateFrom' && sort.direction === 'asc'" mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('dateFrom', 'desc')"></i>
        <i class="sort active-sort" *ngIf="sort.by === 'dateFrom' && sort.direction === 'desc'" mz-icon [icon]="'keyboard_arrow_up'" [size]="'small'" (click)="setSort('dateFrom', 'asc')"></i>
      </div>
    </th>
    <th>
      <div class="sort-head">
        To
        <i class="sort inactive-sort" *ngIf="sort.by !== 'dateTo'"mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('dateTo', 'asc')"></i>
        <i class="sort active-sort" *ngIf="sort.by === 'dateTo' && sort.direction === 'asc'" mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('dateTo', 'desc')"></i>
        <i class="sort active-sort" *ngIf="sort.by === 'dateTo' && sort.direction === 'desc'" mz-icon [icon]="'keyboard_arrow_up'" [size]="'small'" (click)="setSort('dateTo', 'asc')"></i>
      </div>
    </th>
    <th>Paid</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reservation of reservationListSorted">
    <td>{{reservation.dateCreated | date:'M/d/yyyy'}}</td>
    <td><a [routerLink]="['/private/customer/detail', reservation.customer?.id]">{{reservation.customer?.firstname}} {{reservation.customer?.surname}}</a></td>
    <td><a [routerLink]="['/private/room/detail', reservation.reservedRoom?.id]">{{reservation.reservedRoom?.name}}</a></td>
    <td>{{reservation.dateFrom | date:'M/d/yyyy'}}</td>
    <td>{{reservation.dateTo | date:'M/d/yyyy'}}</td>
    <td>
      <i *ngIf="reservation.paid" mz-icon [icon]="'done'" class="green-text"></i>
      <i *ngIf="!reservation.paid" mz-icon [icon]="'clear'" class="red-text"></i>
    </td>
    <td>
      <mz-dropdown [id]="reservation.id+'dropdown'" [dropdownButtonId]="reservation.id">
        <mz-dropdown-item><a class="deep-orange-text" [routerLink]="['/private/reservation/detail', reservation.id]">Detail</a></mz-dropdown-item>
        <mz-dropdown-item><a class="deep-orange-text" [routerLink]="['/private/reservation/edit', reservation.id]">Edit</a></mz-dropdown-item>
        <mz-dropdown-divider></mz-dropdown-divider>
        <mz-dropdown-item *ngIf="!reservation.paid"><a class="deep-orange-text" (click)="changePaidStatus(reservation)">Paid</a></mz-dropdown-item>
        <mz-dropdown-item><a class="red white-text" (click)="pickToDelete(reservation); deleteModal.open()" >Delete</a></mz-dropdown-item>
      </mz-dropdown>
      <a class="deep-orange" mz-button id="{{reservation.id}}" href="#">
        <i mz-icon [align]="'left'" [icon]="'menu'" [size]="'medium'"></i>
        Action
      </a>
    </td>
  </tr>
  </tbody>
</table>

<!-- Delete modal -->
<mz-modal #deleteModal>
  <mz-modal-header>
    <h4>Delete confirmation</h4>
  </mz-modal-header>
  <mz-modal-content>
    Are you sure to delete this reservation {{pickedToDeleteReservation?.id}}?
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button mz-modal-close class="deep-orange">No</button>
    <button mz-button mz-modal-close class="red" (click)="deleteReservation()">Yes</button>
  </mz-modal-footer>
</mz-modal>
