<div class="background">
  <mz-card
    class="login-card"
    [hoverable]="true">
    <mz-card-title>
      Sign in
    </mz-card-title>
    <mz-card-content>
      <form class="col s12">
        <mz-input-container><input mz-input [label]="'Username'" type="text"></mz-input-container>
        <mz-input-container><input mz-input [label]="'Password'" type="password"></mz-input-container>
        <div class="right-align"><a mz-button class="deep-orange">Login</a></div>
      </form>
    </mz-card-content>
  </mz-card>
</div>
