<!-- Container -->
<div class="container">
  <div class="row">
    <h3>Rooms</h3>
  </div>
  <div class="row flex-container">
    <button mz-button class="deep-orange" routerLink="/private/room/add" *ngIf="isAdmin">
      <i mz-icon [align]="'left'" [icon]="'add_circle'" [size]="'medium'"></i>
      New Room
    </button>
    <mz-input-container class="color-container align-right">
      <input mz-input placeholder="Search" type="text" (keyup)="searchByString($event.target.value)">
    </mz-input-container>
  </div>
  <div class="row">
    <!-- Card -->
    <mz-card>
      <mz-card-content>
        <!-- Table -->
        <table class="highlight responsive-table">
          <thead>
          <tr>
            <th>
              <div class="sort-head">
                Name
                <i class="sort inactive-sort" *ngIf="sort.by !== 'name'"mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('name', 'asc')"></i>
                <i class="sort active-sort" *ngIf="sort.by === 'name' && sort.direction === 'asc'" mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('name', 'desc')"></i>
                <i class="sort active-sort" *ngIf="sort.by === 'name' && sort.direction === 'desc'" mz-icon [icon]="'keyboard_arrow_up'" [size]="'small'" (click)="setSort('name', 'asc')"></i>
              </div>
            </th>
            <th><div class="sort-head">
              Type
              <i class="sort inactive-sort" *ngIf="sort.by !== 'type'"mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('type', 'asc')"></i>
              <i class="sort active-sort" *ngIf="sort.by === 'type' && sort.direction === 'asc'" mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('type', 'desc')"></i>
              <i class="sort active-sort" *ngIf="sort.by === 'type' && sort.direction === 'desc'" mz-icon [icon]="'keyboard_arrow_up'" [size]="'small'" (click)="setSort('type', 'asc')"></i>
            </div></th>
            <th>
              <div class="sort-head">
                Capacity
                <i class="sort inactive-sort" *ngIf="sort.by !== 'capacity'"mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('capacity', 'asc')"></i>
                <i class="sort active-sort" *ngIf="sort.by === 'capacity' && sort.direction === 'asc'" mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('capacity', 'desc')"></i>
                <i class="sort active-sort" *ngIf="sort.by === 'capacity' && sort.direction === 'desc'" mz-icon [icon]="'keyboard_arrow_up'" [size]="'small'" (click)="setSort('capacity', 'asc')"></i>
              </div>
            </th>
            <th>
              <div class="sort-head">
                Size
                <i class="sort inactive-sort" *ngIf="sort.by !== 'size'"mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('size', 'asc')"></i>
                <i class="sort active-sort" *ngIf="sort.by === 'size' && sort.direction === 'asc'" mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('size', 'desc')"></i>
                <i class="sort active-sort" *ngIf="sort.by === 'size' && sort.direction === 'desc'" mz-icon [icon]="'keyboard_arrow_up'" [size]="'small'" (click)="setSort('size', 'asc')"></i>
              </div>
            </th>
            <th>
              <div class="sort-head">
                Price
                <i class="sort inactive-sort" *ngIf="sort.by !== 'price'"mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('price', 'asc')"></i>
                <i class="sort active-sort" *ngIf="sort.by === 'price' && sort.direction === 'asc'" mz-icon [icon]="'keyboard_arrow_down'" [size]="'small'" (click)="setSort('price', 'desc')"></i>
                <i class="sort active-sort" *ngIf="sort.by === 'price' && sort.direction === 'desc'" mz-icon [icon]="'keyboard_arrow_up'" [size]="'small'" (click)="setSort('price', 'asc')"></i>
              </div>
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let room of roomList">
            <td>{{room.name}}</td>
            <td>{{room.type}}</td>
            <td>{{room.capacity}} beds</td>
            <td>{{room.size}}m<sup>2</sup></td>
            <td>{{room.price}}&euro;</td>
            <td>
              <mz-dropdown [id]="room.id+'dropdown'" [dropdownButtonId]="room.id">
                <mz-dropdown-item><a class="deep-orange-text" [routerLink]="['/private/room/detail', room.id]">Detail</a></mz-dropdown-item>
                <mz-dropdown-item *ngIf="isAdmin"><a class="deep-orange-text" [routerLink]="['/private/room/edit', room.id]">Edit</a></mz-dropdown-item>
                <mz-dropdown-divider></mz-dropdown-divider>
                <mz-dropdown-item *ngIf="isAdmin"><a class="red white-text" (click)="pickToDelete(room); deleteModal.open()" >Delete</a></mz-dropdown-item>
              </mz-dropdown>
              <a class="deep-orange" mz-button id="{{room.id}}" href="#">
                <i mz-icon [align]="'left'" [icon]="'menu'" [size]="'medium'"></i>
                Action
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <app-pagination [currentPage]="currentPage" [itemsLength]="roomListSize" (currentPageChange)="changePage($event)"></app-pagination>
      </mz-card-content>
    </mz-card>
  </div>
</div>

<!-- Delete modal -->
<mz-modal #deleteModal>
  <mz-modal-header>
    <h4>Delete confirmation</h4>
  </mz-modal-header>
  <mz-modal-content>
    Are you sure to delete this {{pickedToDeleteRoom?.name}}?
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button mz-modal-close class="deep-orange">No</button>
    <button mz-button mz-modal-close class="red" (click)="deleteRoom()">Yes</button>
  </mz-modal-footer>
</mz-modal>
