<!-- Container -->
<div class="container">
  <div class="row">
    <h3>Rooms</h3>
  </div>
  <div class="row flex-container">
    <button mz-button class="deep-orange" routerLink="/private/room/add" *ngIf="isAdmin">
      <i mz-icon [align]="'left'" [icon]="'add_circle'" [size]="'medium'"></i>
      New Room
    </button>
    <mz-input-container class="color-container align-right">
      <input mz-input placeholder="Search" type="text" (keyup)="searchByString($event.target.value)">
    </mz-input-container>
  </div>
  <div class="row">
    <!-- Card -->
    <mz-card>
      <mz-card-content>
        <!-- Table -->
        <table class="highlight responsive-table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Capacity</th>
            <th>Size</th>
            <th>Price</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let room of roomList">
            <td>{{room.name}}</td>
            <td>{{room.type}}</td>
            <td>{{room.capacity}} beds</td>
            <td>{{room.size}}m<sup>2</sup></td>
            <td>{{room.price}}&euro;</td>
            <td>
              <mz-dropdown [id]="room.id+'dropdown'" [dropdownButtonId]="room.id">
                <mz-dropdown-item><a class="deep-orange-text" [routerLink]="['/private/room/detail', room.id]">Detail</a></mz-dropdown-item>
                <mz-dropdown-item *ngIf="isAdmin"><a class="deep-orange-text" [routerLink]="['/private/room/edit', room.id]">Edit</a></mz-dropdown-item>
                <mz-dropdown-divider></mz-dropdown-divider>
                <mz-dropdown-item *ngIf="isAdmin"><a class="red white-text" (click)="pickToDelete(room); deleteModal.open()" >Delete</a></mz-dropdown-item>
              </mz-dropdown>
              <a class="deep-orange" mz-button id="{{room.id}}" href="#">
                <i mz-icon [align]="'left'" [icon]="'menu'" [size]="'medium'"></i>
                Action
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <app-pagination [currentPage]="currentPage" [itemsLength]="roomListSize" (currentPageChange)="changePage($event)"></app-pagination>
      </mz-card-content>
    </mz-card>
  </div>
</div>

<!-- Delete modal -->
<mz-modal #deleteModal>
  <mz-modal-header>
    <h4>Delete confirmation</h4>
  </mz-modal-header>
  <mz-modal-content>
    Are you sure to delete this {{pickedToDeleteRoom?.name}}?
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button mz-modal-close class="deep-orange">No</button>
    <button mz-button mz-modal-close class="red" (click)="deleteRoom()">Yes</button>
  </mz-modal-footer>
</mz-modal>
