<!-- Container -->
<div class="container">
  <div class="row">
    <h2 *ngIf="!isEmployee">Customers</h2>
    <h2 *ngIf="isEmployee">Employees</h2>
  </div>
  <div class="row flex-container">
    <button mz-button class="deep-orange" routerLink="/private/{{pageName}}/add">
      <i mz-icon [align]="'left'" [icon]="'add_circle'" [size]="'medium'"></i>
      <span *ngIf="!isEmployee">New Customer</span>
      <span *ngIf="isEmployee">New Employee</span>
    </button>
    <mz-input-container class="color-container align-right">
      <input mz-input placeholder="Search" type="text" [(ngModel)]="searchString">
    </mz-input-container>
  </div>
  <div class="row">
    <!-- Card -->
    <mz-card>
      <mz-card-content>
        <!-- Table -->
        <table class="highlight">
          <thead>
          <tr>
            <th>Personal Id</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th *ngIf="isEmployee">Role</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let person of personList">
            <td>{{person.personalId}}</td>
            <td>{{person.firstname}} {{person.surname}}</td>
            <td>{{person.email}}</td>
            <td>{{person.phone}}</td>
            <td *ngIf="isEmployee">{{person.role}}</td>
            <td></td>
            <td>
              <mz-dropdown [id]="person.id+'dropdown'" [dropdownButtonId]="person.id">
                <mz-dropdown-item><a class="deep-orange-text" [routerLink]="['/private/' + pageName + '/detail', person.id]">Detail</a></mz-dropdown-item>
                <mz-dropdown-item><a class="deep-orange-text" [routerLink]="['/private/' + pageName + '/edit', person.id]">Edit</a></mz-dropdown-item>
                <mz-dropdown-divider></mz-dropdown-divider>
                <mz-dropdown-item><a class="red white-text" (click)="pickToDelete(person); deleteModal.open()" >Delete</a></mz-dropdown-item>
              </mz-dropdown>
              <a class="deep-orange" mz-button id="{{person.id}}" href="#">
                <i mz-icon [align]="'left'" [icon]="'menu'" [size]="'medium'"></i>
                Action
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <app-pagination [currentPage]="currentPage" [itemsLength]="personListSize" (currentPageChange)="changePage($event)"></app-pagination>
      </mz-card-content>
    </mz-card>
  </div>
</div>

<!-- Delete modal -->
<mz-modal #deleteModal>
  <mz-modal-header>
    <h4>Delete confirmation</h4>
  </mz-modal-header>
  <mz-modal-content>
    Are you sure to delete this {{pickedToDeletePerson?.firstname}} {{pickedToDeletePerson?.surname}}?
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button mz-modal-close class="deep-orange">No</button>
    <button mz-button mz-modal-close class="red" (click)="deletePerson()">Yes</button>
  </mz-modal-footer>
</mz-modal>
