<!-- Container -->
<div class="container">
  <div class="row">
    <h2 *ngIf="!isEmployee">Customers</h2>
    <h2 *ngIf="isEmployee">Employees</h2>
  </div>
  <div class="row flex-container">
    <button mz-button class="deep-orange" routerLink="/private/{{pageName}}/add">
      <i mz-icon [align]="'left'" [icon]="'add_circle'" [size]="'medium'"></i>
      <span *ngIf="!isEmployee">New Customer</span>
      <span *ngIf="isEmployee">New Employee</span>
    </button>
    <mz-input-container class="color-container align-right">
      <input mz-input placeholder="Search" type="text" [(ngModel)]="searchString">
    </mz-input-container>
  </div>
  <div class="row">
    <!-- Card -->
    <mz-card>
      <mz-card-content>
        <!-- Table -->
        <table class="highlight">
          <thead>
          <tr>
            <th>Personal Id</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th *ngIf="isEmployee">Role</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customerList">
            <td>{{customer.personalId}}</td>
            <td>{{customer.firstname}} {{customer.surname}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>
            <td *ngIf="isEmployee">{{customer.role}}</td>
            <td></td>
            <td>
              <mz-dropdown [id]="customer.id+'dropdown'" [dropdownButtonId]="customer.id">
                <mz-dropdown-item><a class="deep-orange-text" [routerLink]="['/private/' + pageName + '/detail', customer.id]">Detail</a></mz-dropdown-item>
                <mz-dropdown-item><a class="deep-orange-text" [routerLink]="['/private/' + pageName + '/edit', customer.id]">Edit</a></mz-dropdown-item>
                <mz-dropdown-divider></mz-dropdown-divider>
                <mz-dropdown-item><a class="red white-text" (click)="deleteReservation(customer.id)" >Delete</a></mz-dropdown-item>
              </mz-dropdown>
              <a class="deep-orange" mz-button id="{{customer.id}}" href="#">
                <i mz-icon [align]="'left'" [icon]="'menu'" [size]="'medium'"></i>
                Action
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <app-pagination [currentPage]="currentPage" [itemsLength]="personListSize" (currentPageChange)="changePage($event)"></app-pagination>
      </mz-card-content>
    </mz-card>
  </div>
</div>
