<!-- Container -->
<div class="container">
  <div class="row">
    <h2>Reservations</h2>
  </div>
  <div class="row">
    <button mz-button class="deep-orange" (click)="creationModal.open()">
      <i mz-icon [align]="'left'" [icon]="'add_circle'" [size]="'medium'"></i>
      New Reservation
    </button>
  </div>
  <div class="row">
    <!-- Card -->
    <mz-card>
      <mz-card-content>
        <!-- Table -->
        <table class="highlight">
          <thead>
          <tr>
            <th>Customer</th>
            <th>Room</th>
            <th>From</th>
            <th>To</th>
            <th>Paid</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let reservation of reservationList">
            <td>{{reservation.customer.forename}} {{reservation.customer.surname}}</td>
            <td>{{reservation.reservedRoom.name}}</td>
            <td>{{reservation.dateFrom | date:'M/d/yyyy'}}</td>
            <td>{{reservation.dateTo | date:'M/d/yyyy'}}</td>
            <td>
              <i *ngIf="reservation.paid" mz-icon [icon]="'done'" class="green-text"></i>
              <i *ngIf="!reservation.paid" mz-icon [icon]="'clear'" class="red-text"></i>
            </td>
            <td>
              <mz-dropdown [id]="'dropdown-demo'" [dropdownButtonId]="'btn-dropdown-demo'">
                <mz-dropdown-item><a class="deep-orange-text" routerLink="/private/reservation/detail">Detail</a></mz-dropdown-item>
                <mz-dropdown-divider></mz-dropdown-divider>
                <mz-dropdown-item><a class="deep-orange-text" (click)="deleteReservation(reservation.id)" >Delete</a></mz-dropdown-item>
              </mz-dropdown>
              <a class="deep-orange" mz-button id="btn-dropdown-demo" href="#">
                <i mz-icon [align]="'left'" [icon]="'menu'" [size]="'medium'"></i>
                Action
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <ul class="pagination center-align">
          <li *ngIf="currentPage != 0"><a (click)="changePage(currentPage - 1)"><i class="material-icons">chevron_left</i></a></li>
          <li *ngFor="let page of pages" [ngClass]="{'deep-orange active': currentPage == page - 1}"><a (click)="changePage(page - 1)">{{page}}</a></li>
          <li *ngIf="currentPage != pages.length - 1" class="waves-effect"><a (click)="changePage(currentPage + 1)"><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </mz-card-content>
    </mz-card>
  </div>
</div>

<!-- Creation Modal -->
<mz-modal #creationModal>
  <mz-modal-header>
    New Reservation
  </mz-modal-header>
  <mz-modal-content>

  </mz-modal-content>
  <mz-modal-footer>
    <button class="deep-orange" mz-button mz-modal-close>Cancel</button>
    <button class="deep-orange" mz-button mz-modal-close>Create</button>
  </mz-modal-footer>
</mz-modal>

<!-- Delete Modal -->
<mz-modal #deletionModal>
  <mz-modal-header>
    Delete Reservation
  </mz-modal-header>
  <mz-modal-content>

  </mz-modal-content>
  <mz-modal-footer>
    <button class="deep-orange" mz-button mz-modal-close>Cancel</button>
    <button class="deep-orange" mz-button mz-modal-close>Create</button>
  </mz-modal-footer>
</mz-modal>
