<!-- Container -->
<div class="container">
  <div class="row">
    <h3 *ngIf="!editMode">Add <span *ngIf="isEmployee">employee</span><span *ngIf="!isEmployee">customer</span></h3>
    <h3 *ngIf="editMode">Edit <span *ngIf="isEmployee">employee</span><span *ngIf="!isEmployee">customer</span> {{person?.firstname}} {{person?.surname}}</h3>
  </div>
  <div class="row">
    <!-- Card -->
    <mz-card>
      <mz-card-content>
        <!-- Form -->
        <form [formGroup]="editForm" (ngSubmit)="submitForm()">
          <div class="row">
            <mz-input-container class="color-container col s6">
              <input mz-input [label]="'Firstname'" type="text" formControlName="firstname" id="firstname" mz-validation required [errorMessageResource]="{required: 'Field is required!'}">
            </mz-input-container>
            <mz-input-container class="color-container col s6">
              <input mz-input [label]="'Surname'" type="text" formControlName="surname" id="surname" mz-validation required [errorMessageResource]="{required: 'Field is required!'}">
            </mz-input-container>
          </div>
          <div class="row" *ngIf="isEmployee && !editMode">
            <mz-input-container class="color-container col s6">
              <input mz-input [label]="'Password'" type="password" formControlName="password" id="password" mz-validation required [errorMessageResource]="{required: 'Field is required!'}">
            </mz-input-container>
            <mz-input-container class="color-container col s6">
              <input mz-input [label]="'Password again'" type="password" formControlName="passwordAgain" id="passwordAgain" mz-validation required [errorMessageResource]="{required: 'Field is required!'}">
            </mz-input-container>
          </div>
          <div class="row red-text center-align" *ngIf="!editMode && !isPasswordInEditFormEqual">
            <div class="col s12">Passwords are not equal!</div>
          </div>
          <div class="row">
            <mz-input-container class="color-container col s6">
              <input mz-input [label]="'Personal Id'" type="text" formControlName="personalId">
            </mz-input-container>
            <mz-datepicker-container class="color-container col s6">
              <input mz-datepicker [label]="'Birth date'" type="text" formControlName="birthDate">
            </mz-datepicker-container>
          </div>
          <div class="row">
            <mz-input-container class="color-container col s6">
              <input mz-input [label]="'E-mail'" type="text" formControlName="email" id="email" mz-validation [errorMessageResource]="{email: 'Field needs to contain valid email address!'}">
            </mz-input-container>
            <mz-input-container class="color-container col s6">
              <input mz-input [label]="'Phone'" type="text" formControlName="phone">
            </mz-input-container>
          </div>
          <div class="row" *ngIf="isEmployee">
            <mz-select-container class="color-container col s6">
              <select mz-select [label]="'Role'" [placeholder]="'None'" formControlName="role" id="role" mz-validation required [errorMessageResource]="{required: 'Field is required!'}">
                <option class="deep-orange" *ngFor="let item of roleType" [value]="item.value">{{item.title}}</option>
              </select>
            </mz-select-container>
          </div>
          <div class="right-align">
            <button *ngIf="!editMode" [disabled]="editForm.invalid || (!editMode && !isPasswordInEditFormEqual)" mz-button class="deep-orange">Create</button>
            <button *ngIf="editMode" [disabled]="editForm.invalid" mz-button class="deep-orange">Edit</button>
          </div>
        </form>
      </mz-card-content>
    </mz-card>
  </div>

  <!-- Change password -->
  <div class="row" *ngIf="editMode && isEmployee">
    <!-- Card -->
    <mz-card>
      <mz-card-title>
        Password
      </mz-card-title>
      <mz-card-content>
        <!-- Form -->
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
          <div class="row" *ngIf="isEmployee">
            <mz-input-container class="color-container col s6">
              <input mz-input [label]="'Password'" type="password" formControlName="password" id="passwordEdit" mz-validation required [errorMessageResource]="{required: 'Field is required!'}">
            </mz-input-container>
            <mz-input-container class="color-container col s6">
              <input mz-input [label]="'Password again'" type="password" formControlName="passwordAgain" id="passwordEditAgain" mz-validation required [errorMessageResource]="{required: 'Field is required!'}">
            </mz-input-container>
            <div class="row red-text center-align" *ngIf="!isPasswordInPasswordFormEqual">
              <div class="col s12">Passwords are not equal!</div>
            </div>
          </div>
          <div class="right-align">
            <button [disabled]="passwordForm.invalid || !isPasswordInPasswordFormEqual" mz-button class="deep-orange">Change</button>
          </div>
        </form>
      </mz-card-content>
    </mz-card>
  </div>
</div>
