<!-- Container -->
<div class="container">
  <div class="row">
    <h3>Services</h3>
  </div>
  <div class="row flex-container">
    <button mz-button class="deep-orange" routerLink="/private/service/add" *ngIf="isAdmin">
      <i mz-icon [align]="'left'" [icon]="'add_circle'" [size]="'medium'"></i>
      New Service
    </button>
    <mz-input-container class="color-container align-right">
      <input mz-input placeholder="Search" type="text" [(ngModel)]="searchString">
    </mz-input-container>
  </div>
  <div class="row">
    <!-- Card -->
    <mz-card>
      <mz-card-content>
        <!-- Table -->
        <table class="highlight">
          <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let service of serviceList">
            <td>{{service.name}}</td>
            <td>{{service.price}}&euro;</td>
            <td>
              <mz-dropdown [id]="service.id+'dropdown'" [dropdownButtonId]="service.id">
                <mz-dropdown-item><a class="deep-orange-text" [routerLink]="['/private/service/detail', service.id]">Detail</a></mz-dropdown-item>
                <mz-dropdown-item *ngIf="isAdmin"><a class="deep-orange-text" [routerLink]="['/private/service/edit', service.id]">Edit</a></mz-dropdown-item>
                <mz-dropdown-divider></mz-dropdown-divider>
                <mz-dropdown-item *ngIf="isAdmin"><a class="red white-text" (click)="pickToDelete(service); deleteModal.open()" >Delete</a></mz-dropdown-item>
              </mz-dropdown>
              <a class="deep-orange" mz-button id="{{service.id}}" href="#">
                <i mz-icon [align]="'left'" [icon]="'menu'" [size]="'medium'"></i>
                Action
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <app-pagination [currentPage]="currentPage" [itemsLength]="serviceListSize" (currentPageChange)="changePage($event)"></app-pagination>
      </mz-card-content>
    </mz-card>
  </div>
</div>

<!-- Delete modal -->
<mz-modal #deleteModal>
  <mz-modal-header>
    <h4>Delete confirmation</h4>
  </mz-modal-header>
  <mz-modal-content>
    Are you sure to delete this {{pickedToDeleteService?.name}}?
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button mz-modal-close class="deep-orange">No</button>
    <button mz-button mz-modal-close class="red" (click)="deleteService()">Yes</button>
  </mz-modal-footer>
</mz-modal>
