<!-- Container -->
<div class="container">
  <div class="row">
    <h3>Reservation {{reservation?.id}} detail</h3>
  </div>
  <!-- General info -->
  <div class="row">
    <mz-card>
      <mz-card-title>
        General info
      </mz-card-title>
      <mz-card-content>
        <mz-collection>
          <mz-collection-item class="white-text" [ngClass]="{'red': !reservation?.paid, 'green': reservation?.paid}">
            <div class="title"><strong>Payment</strong></div>
            <div>
              {{totalAmount}}&euro; ({{reservation?.paymentType}})
            </div>
          </mz-collection-item>
          <mz-collection-item>
            <div class="title"><strong>Date</strong></div>
            <div>{{reservation?.dateFrom | date:'M/d/yyyy'}} - {{reservation?.dateTo | date:'M/d/yyyy'}} ({{daysCount}} days)</div>
          </mz-collection-item>
          <mz-collection-item>
            <div class="title"><strong>Customer</strong></div>
            <div><a *ngIf="reservation?.customer" [routerLink]="['/private/customer/detail', reservation?.customer?.id]">{{reservation?.customer?.firstname}} {{reservation?.customer?.surname}}</a></div>
          </mz-collection-item>
          <mz-collection-item>
            <div class="title"><strong>Room</strong></div>
            <div><a *ngIf="reservation?.reservedRoom" [routerLink]="['/private/room/detail', reservation.reservedRoom?.id]">{{reservation.reservedRoom?.name}}</a> ({{reservation?.reservedRoom?.price}}&euro; per day)</div>
          </mz-collection-item>
          <mz-collection-item>
            <div class="title"><strong>Services</strong></div>
            <div>
              <span *ngFor="let service of reservation?.services"><a [routerLink]="['/private/service/detail', service.id]">{{service.name}}</a>({{service.price}}&euro;), </span>
            </div>
          </mz-collection-item>
        </mz-collection>
      </mz-card-content>
      <mz-card-action>
        <div class="right-align">
          <button mz-button (click)="deleteModal.open()" class="red">Delete</button>
          <button mz-button *ngIf="reservation" [routerLink]="['/private/reservation/edit', reservation?.id]" class="deep-orange">
            Edit
          </button>
        </div>
      </mz-card-action>
    </mz-card>
  </div>
</div>

<!-- Delete modal -->
<mz-modal #deleteModal>
  <mz-modal-header>
    <h4>Delete confirmation</h4>
  </mz-modal-header>
  <mz-modal-content>
    Are you sure to delete this reservation?
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button mz-modal-close class="deep-orange">No</button>
    <button mz-button mz-modal-close class="red" (click)="deleteReservation()">Yes</button>
  </mz-modal-footer>
</mz-modal>
