<!-- Container -->
<div class="container">
  <div class="row">
    <h2>Reservation {{reservation?.id}} detail</h2>
  </div>
  <!-- General info -->
  <div class="row">
    <mz-card>
      <mz-card-title>
        General info
      </mz-card-title>
      <mz-card-content>
        <mz-collection>
          <mz-collection-item class="white-text" [ngClass]="{'red': !reservation?.paid, 'green': reservation?.paid}">
            <div class="title"><strong>Payment</strong></div>
            <div>
              {{totalAmount}}&euro; ({{reservation?.paymentType}})
            </div>
          </mz-collection-item>
          <mz-collection-item>
            <div class="title"><strong>Date</strong></div>
            <div>{{reservation?.dateFrom | date:'M/d/yyyy'}} - {{reservation?.dateTo | date:'M/d/yyyy'}} ({{daysCount}} days)</div>
          </mz-collection-item>
          <mz-collection-item>
            <div class="title"><strong>Customer</strong></div>
            <div>{{reservation?.customer.firstname}} {{reservation?.customer.surname}}</div>
          </mz-collection-item>
          <mz-collection-item>
            <div class="title"><strong>Room</strong></div>
            <div>{{reservation?.reservedRoom?.name}} ({{reservation?.reservedRoom?.price}}&euro; per day)</div>
          </mz-collection-item>
          <mz-collection-item>
            <div class="title"><strong>Services</strong></div>
            <div>
              <span *ngFor="let service of reservation?.services">{{service.name}}({{service.price}}&euro;), </span>
            </div>
          </mz-collection-item>
        </mz-collection>
      </mz-card-content>
      <mz-card-action>
        <div class="right-align">
          <button mz-button [flat]="true" *ngIf="reservation" [routerLink]="['/private/reservation/edit', reservation?.id]" class="deep-orange-text">
            Edit
          </button>
        </div>
      </mz-card-action>
    </mz-card>
  </div>
</div>
