$primary-color: #ff5722;

.tabs .indicator
{
  background-color: $primary-color;
}
.input-field label
{
  color: $primary-color;
}
.input-field input[type=text]:focus + label
{
  color: $primary-color;
}
.input-field input[type=text]:focus
{
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}
.input-field input[type=password]:focus + label
{
  color: #ff5722;
}
.input-field input[type=password]:focus
{
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}
