$primary-color: #ff5722;

::ng-deep .color-container .tabs .indicator
{
  background-color: $primary-color;
}
::ng-deep .color-container .input-field label
{
  color: $primary-color;
}
::ng-deep .color-container .input-field input[type=text]:focus + ::ng-deep label
{
  color: $primary-color;
}
::ng-deep .color-container .input-field input[type=text]:focus
{
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}
::ng-deep .color-container .input-field input[type=number]:focus + ::ng-deep label
{
  color: $primary-color;
}
::ng-deep .color-container .input-field input[type=number]:focus
{
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}
::ng-deep .color-container .input-field input[type=password]:focus + ::ng-deep  label
{
  color: $primary-color;
}
::ng-deep .color-container .input-field input[type=password]:focus
{
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.align-right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.sort-head {
  display: flex;
  align-items: center;
}

.sort {
  cursor: pointer;

  &.active-sort {
    color: $primary-color;
  }

  &.inactive-sort {
    color: #c7c7c7;
  }
}
